# Node.js 관련 (frontend)
frontend/node_modules/
frontend/.next/
frontend/out/

# 환경설정 파일
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Log files (frontend)
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# OS 관련
.DS_Store
Thumbs.db

# 백엔드 관련
backend/.gradle/
backend/build/
backend/bin/
backend/out/
backend/.settings/
backend/.factorypath
backend/.classpath
backend/.project

# 특정 파일 및 디렉토리 제외
backend/HELP.md

# STS (Spring Tool Suite) specific
backend/.apt_generated
backend/.springBeans
backend/.sts4-cache

# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific
.vscode/

# Exclude specific files
frontend/.env
frontend/.env.*
backend/application-secret.yml
backend/application.yml