
# OS 관련
.DS_Store
Thumbs.db

# 백엔드 관련
moaguide/.gradle/
moaguide/build/
moaguide/bin/
moaguide/out/
moaguide/.settings/
moaguide/.factorypath
moaguide/.classpath
moaguide/.project

# 특정 파일 및 디렉토리 제외
moaguide/HELP.md

# STS (Spring Tool Suite) specific
moaguide/.apt_generated
moaguide/.springBeans
moaguide/.sts4-cache

# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific
.vscode/

# Exclude specific files
frontend/.env
frontend/.env.*

src/main/resources/application.yml
src/main/resources/application-secret.yml