<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!--    <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="style.css" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
    <title>MOA GUIDE</title>
</head>
<body>
<div class="div">
    <div class="header-login">
        <div class="frame-14101149192">
            <div class="frame-1000005037">
                <a href="/"><img class="logo" src="/figma/logo1.svg"/></a>
                <div class="frame-1000005035">
                    <div class="magnifying-glass11">
                        <img class="magnifying-glass12" src="/figma/magnifying-glass11.svg" />
                    </div>
                    <div class="bell">
                        <img class="bell2" src="/figma/bell1.svg" />
                    </div>
                    <div class="text">
                        <div class="div19">로그인 / 회원가입</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="web-tap">
            <div class="categories-menu">
                <div class="categories-text">
                    <div class="div20">홈</div>
                </div>
                <div class="categories-text2">
                    <a class="div21" href="/news">최신이슈</a>
                </div>
                <div class="categories-text2">
                    <a class="div21" href="/summary">상품 현황</a>
                </div>
                <div class="categories-text2">
                    <a class="div21" href="/report">리포트</a>
                </div>
            </div>
        </div>
    </div>
    <div class="frame-1410114848">
        <div class="frame-1410114948">
            <a class="frame-1410114947" href="/report">
                <div class="div2">리포트</div>
                <div class="component-23">
                    <img class="clipboard-text" src="/figma/clipboard-text0.svg" />
                </div>
            </a>
        </div>
        <div class="frame-1410114949">
            <a class="frame-1410114947" href="/summary">
                <div class="div2">상품 현황</div>
                <img class="fi-archive" src="/figma/fi-archive0.svg" />
            </a>
        </div>
        <div class="frame-1410114950">
            <a class="frame-1410114947" href="/news">
                <div class="div2">최신 이슈</div>
                <div class="megaphone">
                    <img class="megaphone2" src="/figma/megaphone1.svg" />
                    <img class="vector" src="/figma/vector0.svg" />
                    <img class="vector2" src="/figma/vector1.svg" />
                </div>
            </a>
        </div>
    </div>
    <div class="frame-1410114937" >
        <div class="div3" th:each="word:${news}" >
            <a class="frame-1410114873" th:href="@{'/news/view/'+${word.id}}" target="_blank">
                <img class="rectangle-46" src="/figma/rectangle-460.png" />
                <div class="_16" th:text="${word.getTitle()}">
                    오피스텔 이어 또…홍록기, 16억 아파트 경매 나온 사연은 [집코노미-핫!
                    부동산]
                </div>
                <div class="frame-1410114979">
                    <div class="div4" th:text="${word.getKeyword()}">한국 경제</div>
                    <div class="_2024-06-06" th:text="${#dates.format(word.date,'yyyy년 MM월 dd일')}">2024.06.06</div>
                </div>
            </a>
        </div>
    </div>
    <div class="line-34"></div>
    <div class="line-35"></div>
    <div class="frame-1410114817">
        <a class="web" th:each="data:${datas}" th:href="@{/summary/detail/{category}/{id}(category=${data.getCategory()},id=${data.getProduct_id()})}">
            <img class="rectangle-35" src="/figma/rectangle-350.png" />
            <div class="frame-1410114812">
                <div class="frame-1410114811">
                    <div class="frame-1410114810">
                        <div class="frame-1410114996">
                            <div class="web-tag">
                                <div class="div5" th:text="${data.getCategory()}">부동산</div>
                            </div>
                            <div class="div6" th:text="${data.platform_name}">운영 플랫폼 이름</div>
                        </div>
                        <div class="_1" th:text="${data.name}">롯데월드타워 시그니엘 1호</div>
                        <div class="frame-1410114998">
                            <div class="_8-700" th:text="${data.price}">8,700원</div>
                            <div class="_0-5" th:text="${data.price_rate}+'%'">(+ 0.5%)</div>
                        </div>
                    </div>
                </div>
                <div class="tag">
                    <div class="_14-84" th:text="${data.dividendRate}+'%'">14.84%</div>
                </div>
                <div class="default">
                    <img class="bookmark-simple" src="/figma/bookmark-simple3.svg" />
                </div>
            </div>
            <div class="line-74"></div>
        </a>
    </div>
    <div class="frame-1410114836">
        <div class="div7">주요 상품 현황</div>
        <div class="arrow-icon">
            <a href="/summary"><img class="caret-right" src="/figma/caret-right0.svg" /></a>
        </div>
    </div>
    <div class="frame-1410114953">
        <div class="div7">주요 리포트</div>
        <div class="arrow-icon">
            <a href="/report"><img class="caret-right" src="/figma/caret-right0.svg" /></a>
        </div>
    </div>
    <div class="frame-1410115145">
        <div class="div7">최신 이슈</div>
        <div class="arrow-icon">
            <a href="/news"><img class="caret-right" src="/figma/caret-right0.svg" /></a>
        </div>
    </div>
    <div class="frame-1410115144">
        <div class="div8">
            <div class="frame-1410114866">
                <div class="web-tag">
                    <div class="div5">부동산</div>
                </div>
                <div class="div9">한 달 노후생활비 얼마가 적당할까요?</div>
                <div class="frame-1410114981">
                    <div class="_2024-06-06">2024.06.06</div>
                </div>
            </div>
            <img class="rectangle-462" src="/figma/rectangle-462.png" />
        </div>
        <div class="line-752"></div>
        <div class="div8">
            <div class="frame-1410114866">
                <div class="web-tag">
                    <div class="div5">부동산</div>
                </div>
                <div class="div9">한 달 노후생활비 얼마가 적당할까요?</div>
                <div class="frame-1410114981">
                    <div class="_2024-06-06">2024.06.06</div>
                </div>
            </div>
            <img class="rectangle-462" src="/figma/rectangle-463.png" />
        </div>
        <div class="line-76"></div>
        <!--<div class="div8">
            <div class="frame-1410114866">
                <div class="web-tag">
                    <div class="div5">부동산</div>
                </div>
                <div class="div9">한 달 노후생활비 얼마가 적당할까요?</div>
                <div class="frame-1410114981">
                    <div class="_2024-06-06">2024.06.06</div>
                </div>
            </div>
            <img class="rectangle-462" src="/figma/rectangle-464.png" />
        </div>-->
    </div>
    <div class="frame-1410114795">
        <div class="ellipse-141"></div>
        <div class="rectangle-73809"></div>
        <div class="frame-1410114968">
            <div class="div10">투자 가이드</div>
            <div class="a-z">
                A-Z까지 소액으로
                <br />
                조각 투자의 시작!
            </div>
        </div>
    </div>
    <div class="sub-navigation">
        <div class="frame-5544">
            <div class="frame-1410115011">
                <div class="frame-1410115146">
                    <div class="div11">전체</div>
                </div>
            </div>
            <div class="frame-1410115012">
                <div class="tap-button">
                    <div class="frame-14101151462">
                        <div class="div12">부동산</div>
                    </div>
                </div>
            </div>
            <div class="frame-1410115013">
                <div class="tap-button">
                    <div class="frame-14101151462">
                        <div class="div12">음악저작권</div>
                    </div>
                </div>
            </div>
            <div class="frame-1410115015">
                <div class="tap-button">
                    <div class="frame-14101151462">
                        <div class="div12">한우</div>
                    </div>
                </div>
            </div>
            <div class="frame-1410115016">
                <div class="tap-button">
                    <div class="frame-14101151462">
                        <div class="div12">미술품</div>
                    </div>
                </div>
            </div>
            <div class="frame-1410115017">
                <div class="tap-button">
                    <div class="frame-14101151462">
                        <div class="div12">콘텐츠</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-footer">
        <div class="frame-1410115159">
            <div class="frame-1410115157">
                <div class="frame-1410115149">
                    <div class="frame-1410115156">
                        <img class="logo" src="/figma/logo0.svg" />
                    </div>
                    <div class="services">(주)모아가이드</div>
                    <div class="frame-1410115148">
                        <div class="frame-1410115151">
                            <div class="email-marketing">대표자 : 홍길동</div>
                            <div class="line-77"></div>
                            <div class="email-marketing">
                                주소 : 서울특별시 강남구 테헤란로 10길, 동성빌딩
                            </div>
                        </div>
                        <div class="frame-1410115153">
                            <div class="email-marketing">번호 : 010-1234-1234</div>
                            <div class="line-77"></div>
                            <div class="email-marketing">이메일 : Moaguide@gmail.com</div>
                        </div>
                        <div class="frame-1410115154">
                            <div class="email-marketing">사업자등록번호 : 0000-00-00000</div>
                        </div>
                        <div class="frame-1410115155">
                            <div class="email-marketing">
                                통신판매업 번호 : 0000-0000-0000
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-2020-lo">
                    Copyright © 2024. MOA GUIDE. All Rights Reserved.
                </div>
            </div>
            <div class="frame-1410115158">
                <div class="_14-px">
                    <div class="div13">카카오톡으로 1:1 문의</div>
                    <div class="arrow-icon2">
                        <img class="caret-right4" src="/figma/caret-right3.svg" />
                    </div>
                </div>
                <div class="frame-1410115150">
                    <div class="div14">개인정보처리방침</div>
                    <div class="line-772"></div>
                    <div class="div14">이용약관</div>
                </div>
            </div>
        </div>
    </div>
    <div class="frame-1410115090">
        <div
                class="frame-14101147952"
                style="
          background: url(/figma/frame-14101147952.png) center;
          background-size: cover;
          background-repeat: no-repeat;
        "
        >
            <div class="w">
                <div class="_1-5">1/5</div>
            </div>
            <div class="frame-1410114955">
                <div class="div15">
                    투자 가이드로
                    <br />
                    소액 투자 시작해보자!
                </div>
                <div class="frame-1410114919">
                    <div class="div16">가이드 보러가기</div>
                    <div class="arrow-icon2">
                        <img class="caret-right5" src="/figma/caret-right4.svg" />
                    </div>
                </div>
            </div>
            <div class="frame-1410114832">
                <div
                        class="frame-14101147953"
                        style="
              background: url(/figma/frame-14101147951.png) center;
              background-size: cover;
              background-repeat: no-repeat;
            "
                >
                    <div class="w">
                        <div class="_1-5">1/5</div>
                    </div>
                    <div class="frame-1410114955">
                        <div class="div15">
                            투자 가이드로
                            <br />
                            소액 투자 시작해보자!
                        </div>
                        <div class="frame-1410114919">
                            <div class="div16">가이드 보러가기</div>
                            <div class="arrow-icon2">
                                <img class="caret-right6" src="/figma/caret-right5.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="frame-1410114952">
        <div class="frame-1410114954">
            <div class="div17">실시간 검색 순위</div>
            <div class="frame-14101149532">
                <div class="frame-1410114822">
                    <div class="frame-1410114819">
                        <div class="_12">1위</div>
                        <div class="div18">소액 부동산 투자</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass" src="/figma/magnifying-glass0.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-1410114823">
                        <div class="_2">2위</div>
                        <div class="div18">롯데월드타워 청약</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass2" src="/figma/magnifying-glass1.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-1410114820">
                        <div class="_3">3위</div>
                        <div class="div18">부동산 투자 가이드</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass3" src="/figma/magnifying-glass2.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-14101148212">
                        <div class="_4">4위</div>
                        <div class="div18">한우 투자</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass4" src="/figma/magnifying-glass3.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-14101148222">
                        <div class="_5">5위</div>
                        <div class="div18">소액 투자 방법 소액 투자 방법</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass5" src="/figma/magnifying-glass4.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-1410114824">
                        <div class="_6">6위</div>
                        <div class="div18">소액 투자 방법</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass6" src="/figma/magnifying-glass5.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-1410114825">
                        <div class="_7">7위</div>
                        <div class="div18">소액 투자 방법</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass7" src="/figma/magnifying-glass6.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-1410114826">
                        <div class="_8">8위</div>
                        <div class="div18">소액 투자 방법</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass8" src="/figma/magnifying-glass7.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-1410114827">
                        <div class="_9">9위</div>
                        <div class="div18">소액 투자 방법</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass9" src="/figma/magnifying-glass8.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-1410114828">
                        <div class="_10">10위</div>
                        <div class="div18">소액 투자 방법</div>
                        <div class="frame-1410114821">
                            <div class="_20-px">
                                <img class="magnifying-glass10" src="/figma/magnifying-glass9.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
