<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/reading.css" rel="stylesheet">
    <title>MOA GUIDE</title>
</head>

<body>
<!--    <header>
        <div class="header_side">
            <a href="/login"><span class="login">로그인/회원가입</span></a>
            <a href="/search"><img src="/image/search.jpeg" width="16" alt="검색"></a>
        </div>
        <div class="mainlogo">
            <a href="/"><img src="/image/MoaGuide.png" width="200" alt="로고"></a>
        </div>
    </header>
    -->
    <section class="container">
        <h1>현재 페이지를 제작 중입니다.</h1>
        <p>곧 다양한 기능과 콘텐츠로 찾아뵙겠습니다.</p>
        <!-- 로딩화면 -->
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </section>
</body>
</html>